@import 'tailwindcss';
@import 'tw-animate-css';

@config '../../../tailwind.config.mjs';

@custom-variant sm (@media (width >= theme(--breakpoint-sm)));
@custom-variant md (@media (width >= theme(--breakpoint-md)));
@custom-variant lg (@media (width >= theme(--breakpoint-lg)));
@custom-variant xl (@media (width >= theme(--breakpoint-xl)));
@custom-variant 2xl (@media (width >= theme(--breakpoint-2xl)));

@layer base {
  h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
  }
  h2 {
    font-size: 2.55rem;
    font-weight: 700;
  }
  h3 {
    font-size: 2.125rem;
    font-weight: 700;
  }
  h4 {
    font-size: 1.7rem;
    font-weight: 700;
  }
  h5 {
    font-size: 1.275rem;
    font-weight: 700;
  }
  h6 {
    font-size: 1.0625rem;
    font-weight: 700;
  }

  @media (width >= theme(--breakpoint-md)) {
    h1 {
      font-size: 3.5rem;
    }
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2.5rem;
    }
    h4 {
      font-size: 2rem;
    }
    h5 {
      font-size: 1.5rem;
    }
    h6 {
      font-size: 1.25rem;
    }
  }
}

@plugin "@tailwindcss/typography";

@theme {
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 86rem;
  --font-sans: var(--font-host-grotesk);
  --color-c-background: hsla(0, 6%, 12%, 1);
  --color-c-muted: hsla(0, 5%, 16%, 1);
  --color-c-darkest: hsla(0, 6%, 9%, 1);
  --color-c-foreground: hsla(0, 0%, 100%, 1);
  --color-c-accent: hsla(298, 73%, 71%, 1);
  --color-c-accent-background: hsla(296, 49%, 18%, 1);
}

@layer utilities {
  .container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  @variant sm {
    .container {
      max-width: var(--breakpoint-sm);
    }
  }

  @variant md {
    .container {
      max-width: var(--breakpoint-md);
      padding-inline: 2rem;
    }
  }

  @variant lg {
    .container {
      max-width: var(--breakpoint-lg);
    }
  }

  @variant xl {
    .container {
      max-width: var(--breakpoint-xl);
    }
  }

  @variant 2xl {
    .container {
      max-width: var(--breakpoint-2xl);
    }
  }
}

@layer base {
  body {
    @apply bg-c-background text-c-foreground min-h-screen flex flex-col;
    font-family: var(--font-sans);
  }
}

@keyframes scale-in {
  0% { transform: scale(0); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.prose h2 {
  font-size: 2.55rem;
}
.prose h3 {
  font-size: 2.125rem;
}
.prose h4 {
  font-size: 1.7rem;
}

@media (width >= theme(--breakpoint-md)) {
  .prose h2 {
    font-size: 3rem;
  }
  .prose h3 {
    font-size: 2.5rem;
  }
  .prose h4 {
    font-size: 2rem;
  }
}
